* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.menulogo {
  width: 7.5em;
  height: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #70c1c1;
  color: #fff;
  height: 8em;
  padding: 2em;
  width: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: justify; }

.hidden {
  display: none; }

.menu-txt {
  font-family: 'Oswald';
  font-size: 3em; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.containerheader {
  background-color: blue;
  height: 20em; }

.line {
  background-color: #fff;
  width: 6em;
  height: 0.1em;
  padding: 0.3em;
  border-radius: 0.5em; }

.line:hover {
  width: 6em;
  height: 0.1em;
  padding: 0.3em;
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.buttonMenu {
  color: none;
  background-color: inherit;
  border: 1px solid white;
  width: 6.5em;
  height: 6.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 5em;
  height: 5em;
  float: right;
  margin: 0 10px; }

.buttonMenu:focus {
  outline: 0; }
