
.container{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.menu {
  display: flex;
  background: rgb(112, 193, 193);
  color: #fff;
  height: 8em;
  padding: 2em;
  width: 100%;
  height:9em;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-align: justify;
}
.hidden{
  display: none;
}

.slideout{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.horizontalMenu{
  display: flex;
  flex-direction:row;
  margin-left: 3em;
}

ul{
  padding: 0;
}

.changecolor2:hover{
  color:rgb(112, 193, 193);
}

.changecolor1{
  background-color: rgb(112, 193, 193);
  width: 100%;
  text-align: center;
  border: .1em solid white;
  top: 3em;
  border-radius: .5em;

}
.changecolor1:hover{
    background-color: rgba(112, 193, 193, 0.2);
}
@media screen and (min-width:$min-screen) {
  .horizontalMenu{
    display:none;
  }
  .menulogo{
    display:none;
  }
}
@media screen and (min-width:$max-screen) {
  .horizontalMenu{
  display: flex;
  }
  .menulogo{
display: flex;
  }
  .buttonMenu{
    display: none;
  }
}
