* {
    box-sizing: border-box;
}

.container{
  display: flex;

}

.menu {
  display: flex;
  background: rgb(112, 193, 193);
  color: #fff;
  height: 8em;
  padding: 2em;
  width: 100%;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-align: justify;
}
.hidden{
  display: none;
}
