* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.menulogo {
  width: 7.5em;
  height: 5.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center; }
